.side-bar {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -50px;
    /* background-color: pink; */
}
.title {
    margin-top: 15px;
    font-family: Lexend;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    color: #BA5112;

}

.add-task-btn {
    width: 150px;
    height: 47px;
    border-radius: 11px;
    border: none;
    margin-top: 50px;
    font-family: Lexend;
    background-color: white;
    box-shadow: 2px 2px 8px 0px #0000001A;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.add-task-img{
   
    height: 26px;
    margin-left: 28px;
}
.dashboard-options {
    margin-top: 50px;
    width: 100%;
}
.nav-item {
    margin-top: 20px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    cursor: pointer;   
    font-family: Lexend;
    font-size: 15px;
}
.nav-item-selected{
    margin-top: 20px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    cursor: pointer;   
    font-family: Lexend;
    font-size: 15px;
    background-color: #EDB046;
}
.nav-item:hover {
    background-color: #EDB046;
}
.dashboard-options{
    margin-top: 10px;
}